@using Logistics.ViewModels
@model Register
@{
    ViewBag.Title = "Logistik";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}



<!-- Login -->
<section class="g-min-height-100vh g-flex-centered" style="background-image:url(/assets/images/backgrounds/background.jpg);">
    <div class="container g-py-30">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-5">
                <div class="u-shadow-v24 g-bg-white rounded g-py-40 g-px-30">
                    <header class="text-center mb-4">
                        <h2 class="g-font-size-18 g-font-size-20--md g-color-black g-font-weight-600">Formulir Permintaan Barang</h2>
                    </header>

                    <!-- Form -->
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Register" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mb-4">
                            <div class="input-group g-brd-primary--focus">
                                <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                                    <i class="fa fa-user-o"></i>
                                </span>
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control g-color-black g-bg-white g-brd-gray-light-v4 g-py-15 g-px-15", placeholder = "Nama Lengkap" })
                            </div>
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-4">
                            <div class="input-group g-brd-primary--focus">
                                <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                                    <i class="icon-communication-005 u-line-icon-pro"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control g-color-black g-bg-white g-brd-gray-light-v4 g-py-15 g-px-15", placeholder = "Alamat Email" })

                            </div>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-4">
                            <div class="input-group g-brd-primary--focus">
                                <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                                    <i class="fa fa-phone"></i>
                                </span>
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control g-color-black g-bg-white g-brd-gray-light-v4 g-py-15 g-px-15", placeholder = "Nomor Telepon" })

                            </div>
                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-4">
                            <div class="input-group g-brd-primary--focus">
                                <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                                    <i class="fa fa-id-card-o"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control g-color-black g-bg-white g-brd-gray-light-v4 g-py-15 g-px-15", placeholder = "Jabatan" })

                            </div>
                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-4">
                            <div class="input-group g-brd-primary--focus">
                                <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                                    <i class="fa fa-building-o"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Institution, new { @class = "form-control g-color-black g-bg-white g-brd-gray-light-v4 g-py-15 g-px-15", placeholder = "Institusi" })

                            </div>
                            @Html.ValidationMessageFor(m => m.Institution, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="row">
                            <div class="col-md-6">

                            </div>*@
                        @*<div class="col-md-6">
                                <div class="mb-4">
                                    <div class="input-group g-brd-primary--focus">
                                        <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                                            <i class="fa fa-building-o"></i>
                                        </span>
                                        <div id="inputGroup1_2" class="form-control g-brd-gray-light-v4 h-100 g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-9 g-px-12 g-transition-0_2 g-transition--ease-in">
                                            @Html.DropDownList("Province", (IEnumerable<SelectListItem>)ViewBag.Provinces, "Pilih Domisili", new
                                            {
                                                @class = "form-control border-right-0 border-top-0 border-left-0",
                                                id = "Province",
                                                style = "width:100%"
                                            })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        @*</div>*@

                        <div class="mb-4">
                            <button class="btn btn-md btn-block u-btn-primary g-py-12 g-font-size-16" type="submit">Daftar</button>
                        </div>
                        @*<div class="row justify-content-between">
                                <div class="col align-self-center text-right">
                                    <a class="g-font-size-14" href="@Url.Action("Login", "Account")">Kembali</a>
                                </div>
                            </div>*@
                    }
                    <!-- End Form -->
                    @*<footer class="text-center">
                            <p class="g-color-gray-dark-v5 g-font-size-14 mb-0">
                                Tidak punya akun? <a class="g-font-weight-600" href="@Url.Action("Register", "Account")">Buat Akun</a>
                            </p>
                        </footer>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section class="g-py-80">
    <div class="container">
        <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
            <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-weight-700 g-font-size-20 g-font-size-30--md g-color-black mb-0">Ketersediaan Barang</h2>
        </div>

        <div class="g-mx-minus-15">
            <div id="js-carousel-7" class="js-carousel" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-35 g-font-size-default g-color-white g-bg-primary g-color-white--hover g-bg-primary--hover rounded" data-arrow-left-classes="fa fa-angle-left g-left-minus-10" data-arrow-right-classes="fa fa-angle-right g-right-minus-10" data-slides-show="5">
                @foreach (var item in ViewBag.Items)
                {
                    <div class="js-slide g-px-20">
                        <!-- Article -->
                        <article class="u-shadow-v1-7 g-bg-white g-rounded-bottom-4">
                            <!-- Figure Image -->
                            <figure>
                                <img class="w-100" src="@item.Images" alt="Image Description">
                            </figure>
                            <!-- End Figure Image -->
                            <!-- Article Content -->
                            <div class="g-pa-10">
                                <h3 class="g-font-size-14 g-mb-10 g-font-weight-600">
                                    <a class="g-color-gray-dark-v2 g-color-primary--hover g-text-underline--none--hover" href="#">@item.Name</a>
                                </h3>

                                <ul class="list-unstyled info-v5-3__info-list g-font-weight-700 g-color-black g-color-white--parent-hover g-font-size-12 text-uppercase g-mb-0">
                                    <li class="g-mb-20">
                                        <i class="g-color-primary g-color-white--parent-hover g-mr-2 fa fa-truck"></i>
                                        <small class="g-font-size-10">@item.Amount @item.Unit.ToString() barang Tersedia</small>
                                    </li>
                                </ul>

                                <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-15">

                                <!-- Article Images -->
                                <!-- End Article Images -->

                                <footer class="d-flex justify-content-between align-items-center">
                                    <!-- Figure Comments -->
                                    <div class="media g-font-size-11">
                                        <img class="d-flex mr-3 rounded-circle g-width-25 g-height-25" src="https://volunteer.blob.core.windows.net/images/banner/18972876-c9ec-4594-a226-ccb69c9734cf/logo-provinsi-jawa-barat.jpg" alt="Image Description">
                                        <div class="media-body align-self-center text-uppercase">
                                            <span class="u-link-v5 g-color-main g-color-primary--hover">Pemerintah Provinsi Jawa Barat</span>
                                        </div>

                                    </div>
                                    <!-- End Figure Button -->
                                </footer>
                            </div>
                            <!-- End Article Content -->
                        </article>
                        <!-- End Article -->
                    </div>
                }

            </div>
        </div>


        <!-- End Products Block -->
    </div>
</section>
<!-- End Login -->
@*<h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@

@section styles{
    <link rel="stylesheet" href="~/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-line-pro/style.css">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $('#js-carousel-7').slick('setOption', 'responsive', [{
                breakpoint: 992,
                settings: {
                    slidesToShow: 3
                }
            }, {
                breakpoint: 768,
                settings: {
                    slidesToShow: 2
                }
            }, {
                breakpoint: 554,
                settings: {
                    slidesToShow: 1
                }
            }], true);
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#Register").submit(function (e) {
                e.preventDefault();
                var data = $('#Register').serialize();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Register", "Account")',
                    data: data,
                    success: function (data) {
                        if (data == "OK") {
                            location.href = "@Url.Action("Index","Home")"
                        } else if(data == "Invalid") {
                            swal({
                                title: "Kode Salah",
                                text: "Hanya dapat menggunakan format ( A-Z, 0-9 dan - )",
                                icon: "error"
                            });
                        }else if(data == "Exists") {
                            swal({
                                title: "Kode sudah digunakan",
                                text: "Gunakan Kode lain karena kode sudah ada",
                                icon: "error"
                            });
                        }
                    }
                });
            });
        });
    </script>
}
