@model Logistics.ViewModels.Order
<section class="g-pos-rel">
    <div class="js-carousel" data-autoplay="true" data-infinite="true" data-fade="true" data-speed="5000">
        <div class="js-slide g-min-height-100vh g-flex-centered g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after" style="background-image: url(/assets/images/backgrounds/banner1.jpg);"></div>
        <div class="js-slide g-min-height-100vh g-flex-centered g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after" style="background-image: url(/assets/images/backgrounds/banner2.jpg);"></div>
    </div>
    <div class="g-absolute-centered--y g-left-0 g-right-0">
        <div class="container g-z-index-1">
            <div class="row">
                <div class="g-pt-55 col-lg-5 align-self-center g-mb-0--lg">
                    <div class="g-bg-white g-rounded-5 g-pa-30">
                        <h3 class="h6 g-color-black g-font-weight-600 text-uppercase text-center g-mb-25">buat permintaan kamu sekarang</h3>

                        <!-- Promo Block - Form -->
                        @using (Html.BeginForm("CreateOrder", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "Register" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="mb-4">
                                <div class="input-group g-brd-primary--focus">
                                    <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                                        <i class="fa fa-user-o"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control g-color-black g-bg-white g-brd-gray-light-v4 g-py-15 g-px-15", placeholder = "Nama Lengkap", required="required"})
                                </div>
                                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-4">
                                <div class="input-group g-brd-primary--focus">
                                    <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                                        <i class="icon-communication-005 u-line-icon-pro"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control g-color-black g-bg-white g-brd-gray-light-v4 g-py-15 g-px-15", placeholder = "Alamat Email", required = "required" })

                                </div>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-4">
                                <div class="input-group g-brd-primary--focus">
                                    <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control g-color-black g-bg-white g-brd-gray-light-v4 g-py-15 g-px-15", placeholder = "Nomor Telepon", required = "required" })

                                </div>
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-4">
                                <div class="input-group g-brd-primary--focus">
                                    <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                                        <i class="fa fa-id-card-o"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control g-color-black g-bg-white g-brd-gray-light-v4 g-py-15 g-px-15", placeholder = "Jabatan", required = "required" })

                                </div>
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-4">
                                <div class="input-group g-brd-primary--focus">
                                    <span class="input-group-addon g-width-45 g-brd-gray-light-v4 g-color-gray-dark-v5">
                                        <i class="fa fa-building-o"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.Institution, new { @class = "form-control g-color-black g-bg-white g-brd-gray-light-v4 g-py-15 g-px-15", placeholder = "Institusi", required = "required" })

                                </div>
                                @Html.ValidationMessageFor(m => m.Institution, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-md btn-block u-btn-primary g-py-12 g-font-size-16" type="submit">Daftar</button>
                            </div>
                        }
                        <!-- End Promo Block - Form -->
                    </div>
                </div>

                <!-- Promo Block - Info -->
                <div class="col-lg-7 align-self-center g-color-white d-none d-lg-block">
                    <div class="g-px-50--lg">
                        <h2 class="g-color-white g-font-weight-600 g-font-size-40 g-font-size-60--md g-mb-30">
                            Layanan Logistik
                        </h2>
                        <h1 class="h4 g-color-white g-font-weight-300 g-letter-spacing-1 mb-5">Gunakanlah layanan ini dengan bijak dan ingatlah masih banyak orang yang membutuhkan</h1>
                    </div>
                </div>
                <!-- End Promo Block - Info -->
            </div>
        </div>
    </div>
</section>
<section class="g-py-80">
    <div class="container">
        <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
            <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-weight-700 g-font-size-20 g-font-size-30--md g-color-black mb-0">Ketersediaan Barang</h2>
        </div>

        <div class="table-responsive m-t-40">
            <table id="myTable" class="table table-bordered table-striped">
                <thead class="table-header">
                    <tr class="color-table">
                        <th>Nama Barang</th>
                        <th>Stok</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Items)
                    {
                        <tr>
                            <td><a href="@Url.Action("DetailsItem", new { id = item.Id })" target="_blank"><font color="blue">@item.Name</font></a></td>
                            <td>@item.Amount @item.Unit.ToString()</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>
@section styles{
    <link rel="stylesheet" href="~/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-line-pro/style.css">
    <link href="~/assets/css/table.css" rel="stylesheet">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();

        });
    </script>
}
