<section class="g-py-10">
    <div class="container">
        <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
            <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-weight-700 g-font-size-30 g-font-size-40--md g-color-black mb-0">Pilih Jumlah Barang</h2>
        </div>


        <div class="row">
            <div class="col-lg-8 g-mb-50 g-mb-0--lg">
                <div class="table-responsive m-t-40">
                    <table id="myTable" class="table table-bordered table-striped">
                        <thead class="table-header">
                            <tr class="color-table">
                                <th>Nama Barang</th>
                                <th>Stok</th>
                                @if (ViewBag.Status == "Processing")
                                {
                                    <th style="width:10%">Jumlah</th>
                                    <th style="width:10%">Aksi</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Items)
                            {
                                <tr>
                                    <td><a href="@Url.Action("DetailsItem", new { id = item.Id })" target="_blank"><font color="blue">@item.Name</font></a></td>
                                    <td>@item.Amount @item.Unit.ToString()</td>
                                    @using (Html.BeginForm("AddItem", "Home", FormMethod.Post))
                                    {
                                        if (ViewBag.Status == "Processing")
                                        {
                                            <td>
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <input type="hidden" name="IdOrder" value="@ViewBag.Id" />
                                                <input class="form-control text-center rounded-0 g-pa-5 g-brd-gray-light-v4" name="Amount" min="1" max="@item.Amount" value="0" type="number">
                                            </td>
                                            <td class="g-color-black g-font-weight-600"><button type="submit" class="btn btn-warning">simpan</button> </td>
                                        }

                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div id="stickyblock-end"></div>
            </div>
            <div class="col-lg-4">
                <div id="stickyblock-start" class="js-sticky-block g-sticky-block--lg g-pt-20" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
                    <!-- News Feed -->
                    <div class="g-mb-40">

                        <!-- Article -->
                        <div class="d-lg-none d-xl-none d-md-block">
                            <div class="u-heading-v3-1 g-mb-30">
                                <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Preview Barang</h2>
                            </div>
                        </div>
                        <div class="d-lg-none d-none d-lg-block">
                            <div class="u-heading-v3-1 g-mb-30 ">
                                <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Preview Barang</h2>
                            </div>
                        </div>
                        <ul class="list-unstyled">
                            @foreach (var item in ViewBag.Cart)
                            {
                                <li class="d-flex justify-content-start g-brd-around g-brd-gray-light-v4 g-pa-5 g-mb-7">
                                    <div class="align-self-center g-px-10">
                                        <h5 class="h6 g-font-weight-600 g-color-black g-mb-3">
                                            <span class="g-mr-5">@item.Item.Name</span>
                                        </h5>
                                    </div>
                                    <div class="align-self-center ml-auto">
                                        <span class="u-label u-label--sm g-bg-blue g-rounded-20 g-px-10">@item.Amount @item.Unit</span>
                                    </div>
                                </li>
                            }

                        </ul>
                        <form action="/home/infodata" method="post">
                            <input type="hidden" name="Id" value="@ViewBag.Id" />
                            @if (ViewBag.Status == "Pending")
                            {
                                <div class="g-brd-primary--focus text-center g-mb-15">
                                    <div class="g-bg-blue g-color-white g-font-size-16">Nomor Pemesanan</div>
                                    <div class="form-control g-color-gray-dark-v4 g-brd-blue g-font-size-14 rounded-0">
                                        <div class="text-center g-font-size-14 g-color-gray-dark-v5">
                                            <b> @ViewBag.Id </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="g-brd-primary--focus text-center g-mb-15">
                                    <div class="g-bg-primary g-color-white g-font-size-16">Menunggu Persetujuan</div>
                                    <div class="form-control g-color-gray-dark-v4 g-brd-primary g-font-size-14 rounded-0">
                                        <div class="text-center g-font-size-14 g-color-gray-dark-v5">
                                            Permintaan barang yang kamu ajukan menunggu persetujuan Admin, terima kasih & simpan Nomor pesanan untuk melihat detail pemesanan
                                        </div>
                                    </div>
                                </div>

                            }
                            else if (ViewBag.Status == "Approved")
                            {
                                <div class="g-brd-primary--focus text-center g-mb-15">
                                    <div class="g-bg-primary g-color-primary g-font-size-16">Telah Disetujui</div>
                                    <div class="form-control g-color-gray-dark-v4 g-brd-primary g-font-size-14 rounded-0">
                                        <div class="text-center g-font-size-14 g-color-gray-dark-v5">
                                            Permintaan barang yang kamu ajukan telah disetujui oleh Admin, mohon untuk menunggu pengiriman barang
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (ViewBag.Status == "Rejected")
                            {
                                <div class="g-brd-primary--focus text-center g-mb-15">
                                    <div class="g-bg-primary g-color-white g-font-size-16">Halo</div>
                                    <div class="form-control g-color-gray-dark-v4 g-brd-primary g-font-size-14 rounded-0">
                                        <div class="text-center g-font-size-14 g-color-gray-dark-v5">
                                            Mohon maaf permintaan barang yang kamu ajukan tidak bisa kami kirim
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <button type="submit" role="button" class="btn u-btn-primary btn-lg btn-block g-mr-10 g-mb-15 text-uppercase">Lanjutkan</button>
                            }

                        </form>

                        <!-- End Article -->
                    </div>
                </div>

                <!-- End Products Block -->
            </div>
        </div>
    </div>
</section>

<div id="loading" class="preloader">
    <div class="loader"></div>

</div>

@section styles
{
    <link href="~/assets/vendor/sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-line-pro/style.css">
    <link href="~/assets/css/table.css" rel="stylesheet">
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable(
                { "lengthMenu": [[5,10, 25, 50, -1], [5, 10, 25, 50, "All"]] }
            );

        });
    </script>
    <script>
        $(document).ready(function () {
            $("#registrationFormTop").submit(function (e) {
                e.preventDefault()
                $('#loading').fadeIn();
                var data = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SubmitOrder", "Home")',
                    data: data,
                    success: function (data) {
                        $("#loading").fadeOut();
                        if (data == 'KO') {
                            swal({
                                title: "Terjadi Kesalahan",
                                text: "Mohon maaf, terdapat kesalahan dalam sistem kami, silahkan ulangi lagi",
                                type: "error",
                                button: true,
                            })
                        }
                        else if (data == 'OK') {
                            swal({
                                title: "Sukses",
                                text: "Kamu telah meminta bantuan, status kamu saat ini adalah menunggu persetujuan dari admin",
                                type: "success",
                                button: true,
                            })
                            setTimeout(function () {// wait for 5 secs(2)
                                location.reload(); // then reload the page.(3)
                            }, 3000);
                        }
                        else if (data == 'NOTLOGIN')
                        {
                            swal({
                                title: "Akun Belum Login",
                                text: "Silahkan login jika ingin mendaftar menjadi relawan",
                                type: "warning",
                                button: true,
                            })
                        }
                        else if (data == 'REGISTERED') {
                            swal({
                                title: "Akun sudah terdaftar",
                                text: "Sebelumnya kamu sudah pernah melakukan pendaftaran, silahkan login dan lakukan jadilah relawan",
                                type: "warning",
                                button: true,
                            })
                        }
                        else if (data == 'EXIST') {
                            swal({
                                title: "Akun sudah terdaftar",
                                text: "Kamu sudah mendaftar pada acara ini",
                                type: "warning",
                                button: true,
                            })
                        }
                        else {
                            swal({
                                title: "Sudah Mendaftar",
                                text: "Kamu telah mendaftar untuk mengikuti acara ini, namun kami masih melakukan validasi pembayaran",
                                type: "warning",
                                button: true,
                            })
                        }
                    },
                    complete: function () {
                        $("#loading").fadeOut();
                    }
                });
            });
        });
    </script>
    <script>
        $(window).on('load', function () {
            // initialization of sticky blocks
            $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
        });
    </script>
}